In [4]:
print('Clint')

x= 10 # assogm the number 10 to x
y= 20 # assign the number 20 to y

print(x+y) # first add x and y together, and print the resulting value

Clint
30

In [28]:
x = 10
y = 20

x == y #are they the same?

False

In [15]:
print('hello!')        # just pressing enter goes down one line
print('Hello, again!') #again, we'll press ENTER
print('OK, goodbye!!') #now, I'll press Shift+Enter, To execute the cell

# shift+enter == execute the cell

hello!
Hello, again!
OK, goodbye!!

In [16]:
x

10

In [17]:
y

20

In [29]:
name = 'Clint' # assignment
name = 'Clint' # here, we ask a question: does the name variable contain the same value as the string 'Clint'?

In [30]:
name = 'Clint' #'Clint'
type(name) # this asks: what kind of value do I have in the "name" variable?this asks: what kind of value is the text string 'name'?

str

In [31]:
name = 'Clint'
type(name)   # this asks: what kind of value do I have in the "name" variable?

str

In [25]:
name = 5

type(name) #no quotes, so we're asking: what is the type of value in the "name" variable?

int

In [26]:
type('name')  # quotes, so we have a string, so...

str

In [27]:
name = input('Enter your name:')

if name == 'Robert':       # colon at the end of the line...
    print('Hi, boss!')     # ... indentation at the start of a block -- these go together
    print('So good to see you again!')
else:
    print('Hello, ' + name + '!')

Enter your name:Clint
Hello, Clint!

In [32]:
if True:
print('Hello')

IndentationError: expected an indented block after 'if' statement on line 1 (4178352048.py, line 2)

In [34]:
x = 10 # no decimal point, so this is an integer -- a whole number
type(x)

int

In [35]:
y = 3

In [36]:
x + y

13

In [37]:
x * y

30

In [38]:
x / y # / always retunrs a floating-point number, even if the resuly would be an integer

3.3333333333333335

In [39]:
x / x

1.0

In [40]:
x // y # this always retunrs an ineger -- it's known as "floordiv"

3

In [41]:
x ** y # this means: x to the y power

1000

In [42]:
x % y

1

In [43]:
answer = x * y
answer

30

In [44]:
# What happens here?

x = 10
x = x + 1 # this makes no *mathmatical* sense, but = in python isn't mathmatical equality

x

11

In [45]:
# it's so common to say x = x + 1 that theres a shorcut

x += 1 #same as x= x + x, known as "incrementing"
x

12

In [49]:
#we can also say

x *= 5 #same as x = x * 5
x

1500

In [50]:
x -= 1   # this is known as "decrementing"

In [51]:
# what's the max size of an integer in Python?

# the max size is... determined by the size of your memory. Python will happily consume
# all of your RAM to create ever-larger integers.

In [52]:
# remember this problem?

x = 10   # this is the integer 10
y = '20' # this is the string 20

x + y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [53]:
# to get an integer based on a string, we use "int" as a function

int(y)   # this returns a new integer based on the string value of y -- it doesn't change y!

20

In [54]:
y   # this is still the string '20'

'20'

In [61]:
x + int(y)  # now we have integer + integer, which is totally OK

30

In [62]:
n = input('Enter your favorite number: ')

# input always, always, ALWAYS returns a string

if n == 72:  # here, we're comparing the integer 72 with the *STRING* we got from the user!
    print('That is my favorite, also!')
else:
    print('You have terrible taste in numbers.')

Enter your favorite number: 72
You have terrible taste in numbers.

In [63]:
72 == '72'   # this is the comparison we just ran!

False

In [64]:
# I can fix this by taking the user's input and turning it into an integer

n = input('Enter your favorite number: ')
n = int(n)   # get a new integer based on n, and assign it back to the variable n

if n == 72: 
    print('That is my favorite, also!')
else:
    print('You have terrible taste in numbers.')

Enter your favorite number: 72
That is my favorite, also!

In [65]:
int('1234')

1234

In [66]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

In [67]:
x = 'taxi'
y = 'cab'

x < y   # does taxi come before cab?

False

In [68]:
y < x   # does cab come before taxi?

True

In [69]:
x = 'Taxi'  # notice: capital T
y = 'cab'

x < y   # all capital letters come before all lowercase letters

True

In [70]:
print('hello')    # Python finds the function called "print" and executes it, with "hello" as an argument

hello

In [71]:
# what if I have the crazy idea of assigning to print, as if it were a variable?
print='hello'

In [72]:
print('hello')    # we have redefined print to be a string, not a function

TypeError: 'str' object is not callable

In [73]:
print ('I am free!')

TypeError: 'str' object is not callable

In [74]:
# to fix this problem, you can use the "del" command, which removes a user-defined
# variable, especially when you have overwritten a builtin

del(print)

In [75]:
print('I am free!')

I am free!

In [77]:
import sys
sys.version

'3.10.4 (main, Jun 29 2022, 12:14:53) [GCC 11.2.0]'

In [82]:
x = 10

if x == 9:
    print('whatever')
else #no colon
        print('This will not print')

SyntaxError: expected ':' (2130232676.py, line 5)

In [80]:
x = 10

if (    x 
    
    
    == 
    
    
    9
    
   ):
    print('Whatever')
else:
    print('This will not print')

This will not print

#writing Markdown in a cell

# Exercise: Guessing game
1. Get a random number between 0-100. (I'll show you how in a moment.)  Assign that number to the variable `number`.
2. Print the number, so that debugging is easier.
3. Ask the user to guess the number.  Based on the user's input, we should print:
    - You got it!
    - Too high!
    - Too low!
4. The user only gets one shot at guessing.    
How do we generate a random number? We're going to use the `random` module, which has this functionality built in:
```python
import random                    # load this library of functionality
number = random.randint(0, 100)  # run the randint function in the random module
```

hey

In [90]:
import random                  # load this libray of functionality 
number = random.randint(0,100) # run the randint function in the random module

In [100]:
import random
number = random.randint(0, 100)

print(number)

guess = input('Guess: ') #guess is a string
guess = int(guess)       # get a new int based on guess, and assign back to guess

if guess == number:
    print('You got it!')
elif guess < number:
    print('Too low!')
else:
    print('Too high!')

97
Guess: 97
You got it!

In [98]:
import random
number = random.randint(0, 100)

print(number)

guess = input('Guess: ')  # guess is a string
guess = int(guess)        # get a new int based on guess, and assign back to guess

if guess == number:
    print('You got it!')
elif guess < number:
    print('Too low!')
else:
    print('Too high!')

63
Guess: 14
Too low!

Floats

"Float" is the fancy way of saying "a number with a decimal point, and possibly some digits after that decimal point." If you want to use fractional numbers in Python, then floats are almost certainly necessary.

Because floating-point operations are much slower than integer operations, chips were (are?) measured for speed in the number of floating-point operations they could do per second, known as Gigaflops -- billions of floating-point operations per second.

In [101]:
n = 10.5
type(n)

float

In [102]:
# what operations can I use with float?
# all of the same ones as we used with int!

# but... we'll always get floats back

In [103]:
x = 10.0
y = 3.0

x + y

13.0

In [104]:
x - y

7.0

In [105]:
x // y    # we get a float back, not an int!

3.0

In [106]:
0.1 + 0.2

0.30000000000000004

In [107]:
# convert to/from floats
# just as we can get an int based on something else, by invoking int()
# we can get a float based on something else, by invoking float()

In [108]:
float('5')   # get a float from this string '5'

5.0

In [109]:
int('5')   # get an int from this string '5'

5

In [110]:
float(5)  # get a float from this int 5

5.0

In [111]:
int(5.0)   # get an int from this float 5

5

In [112]:
# if you use both an int and a float in the same operation, you get back a float

In [113]:
# you can also compare ints and floats with == , < , and >

In [114]:
5.3 < 8

True

#Strings

We can create strings ('str') most easily, and commonly, with quotes. You can use either '' or "" -- there is no differnece at all. if your string contains ', then you probably wanna use "" on the outside, and vice versa.

Strings can be of any leangth whatsoever. They are used for all text, no matter how big or small.

In [115]:
s = 'abcdefghijklmnopqrstuvwxyz'
type(s)

str

In [116]:
# how many characters are there in s?

len(s)   # the "len" function returns an integer, the length of the data we give it

26

In [117]:
s = 'He's very nice'   # the use of ' in the string confuses Python

SyntaxError: invalid syntax (979328839.py, line 1)

In [118]:
# we can escape a quote with \ before the quote
s = 'He\'s very nice'

In [119]:
print(s)

He's very nice

In [120]:
# let's see how Python displays our string
s

"He's very nice"

In [121]:
# the same thing happens with ""

s = "She says, "Hello""

SyntaxError: invalid syntax (2775699465.py, line 3)

In [122]:
s = "She says, \"Hello\""
s

'She says, "Hello"'

In [123]:
s = 'He says, "She\'s very nice"'

In [124]:
s

'He says, "She\'s very nice"'

In [125]:
# other special characters

# what if I want my string to contain two lines of text?
s = 'abcde
fghij'

SyntaxError: unterminated string literal (detected at line 4) (3038885453.py, line 4)

In [126]:
# if I want a newline character - -meaning, to go down when we print the string, -- we can use the
# special character \n.  We write it with one character, but it really consumes one space in the string,
# and it goes down when printed.

s = 'abcde\nfghij'
len(s)

11

In [127]:
s

'abcde\nfghij'

In [128]:
print(s)   # now the \n will actually descend one line

abcde
fghij