In [4]:
print('Clint')

x= 10 # assogm the number 10 to x
y= 20 # assign the number 20 to y

print(x+y) # first add x and y together, and print the resulting value

Clint
30

In [28]:
x = 10
y = 20

x == y #are they the same?

False

In [15]:
print('hello!')        # just pressing enter goes down one line
print('Hello, again!') #again, we'll press ENTER
print('OK, goodbye!!') #now, I'll press Shift+Enter, To execute the cell

# shift+enter == execute the cell

hello!
Hello, again!
OK, goodbye!!

In [16]:
x

10

In [17]:
y

20

In [29]:
name = 'Clint' # assignment
name = 'Clint' # here, we ask a question: does the name variable contain the same value as the string 'Clint'?

In [30]:
name = 'Clint' #'Clint'
type(name) # this asks: what kind of value do I have in the "name" variable?this asks: what kind of value is the text string 'name'?

str

In [31]:
name = 'Clint'
type(name)   # this asks: what kind of value do I have in the "name" variable?

str

In [25]:
name = 5

type(name) #no quotes, so we're asking: what is the type of value in the "name" variable?

int

In [26]:
type('name')  # quotes, so we have a string, so...

str

In [27]:
name = input('Enter your name:')

if name == 'Robert':       # colon at the end of the line...
    print('Hi, boss!')     # ... indentation at the start of a block -- these go together
    print('So good to see you again!')
else:
    print('Hello, ' + name + '!')

Enter your name:Clint
Hello, Clint!

In [32]:
if True:
print('Hello')

IndentationError: expected an indented block after 'if' statement on line 1 (4178352048.py, line 2)